<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Workout</title>
<style>
	table, th, td{
		border:1px solid black;
	}
</style>
</head>
<body>
	<h1>Create a new Workout!</h1>
	<form action="#" id="workoutForm" th:action="@{/saveWorkout}" th:object="${newWorkout}"
		method="post">
		
		
		<label>Name</label><br /> 
		<input
			type="text" th:field="*{name}" id="workoutName" placeholder="Name"><br /> 
		<label>Duration</label><br /> 
		<input
			type="text" th:field="*{duration}" placeholder="Duration"><br /> 
		<div id="exerciseFields">
			<div>
			<label>Exercise Name</label><br /> 
			<input type="text" th:field="*{exercises[0].name}"
				placeholder="Exercise name"><br /> 
			<label>Sets</label><br />
			<input type="text" th:field="*{exercises[0].sets}" placeholder="Sets"><br />
			<label>Repetitions</label><br /> <input type="text"
				th:field="*{exercises[0].repetitions}" placeholder="Repetitons(Reps)"><br />
			</div>
		</div>
		<button type="button" onclick="addExerciseField()">Add new Exercise</button>
		<button type="submit">Submit</button>
		
	</form>
	
	<table>
	  <tr>
	    <th></th>
	    <th scope="col">Workout</th>
	    <th scope="col">Duration</th>
	  </tr>
	  <tbody id="workoutTableBody">
	  
	  
	  </tbody>
	  
	</table>

	<script>
		let exerciseIndex = 1;
		
		function addExerciseField() {
			const newField =`
					<div>
						<label>Exercise Name</label><br/>
						<input type="text" th:field="*{exercises[${exerciseIndex}].name}" placeholder="Exercise name"/><br/>
						<label>Sets</label><br/>
						<input type="text" th:field="*{exercises[${exerciseIndex}].sets}" placeholder="Sets"/><br/>
						<label>Repetitions</label><br/>
						<input type="text" th:field="*{exercises[${exerciseIndex}].repetitions}" placeholder="Repetitons(Reps)"/><br/>
					</div>
				`;
				document.getElementById("exerciseFields").insertAdjacentHTML('beforeend', newField);
				exerciseIndex++;
		}
		
		const workoutForm = document.querySelector("#workoutForm");
		workoutForm.addEventListener("submit", showNewWorkout(event));
			
		
		function showNewWorkout(event){
			event.preventDefault()
			const tableBody = document.querySelector("#workoutTableBody");
			const row = document.createElement("tr");
			const workoutName = document.createElement("td");
			workoutName.textContent = document.querySelector("#workoutName").value;
			row.appendChild(workoutName);
			tableBody.appendChild(row);
			workoutForm.reset();
		}
	</script>
</body>
</html>